

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  
}

body{
    background: url('bg3.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center center;
  
    backface-visibility: visible;
  
}

.contenedor{
    width: 90%;
    margin: 0px auto;
    margin-top: 60px;
}

header{
    width: 100%;
    margin-top: 0px;
    padding: 20px 100px;
    background-color: rgb(87, 5, 5,0.7);
    color: #fff;
    text-align: center;
    position: fixed;

   
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding-top:10px;
    margin: 10px auto;
    
}

nav a{
    color: #fff;
    padding: 20px  20px;
    text-decoration: none;
    
}

nav a:hover{
    background: darkred;
}

main{
    display: flex;
    flex-wrap: wrap;
    
}
aside{
    flex:30%;
    background-color:  rgb(180, 174, 174);
    padding: 20px;
}

section{
    flex: 70%;
    background-color: rgb(234, 236, 228);
    padding: 20px; 
}

footer{
    padding: 30px;
    background: rgb(87, 5, 5,0.7);
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 0 0 30px 30px;

}

@media screen and (max-width: 750px) {
    nav,main{
         flex-direction: column;
    }
}
